@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import "tailwindcss";

@theme {
  --font-archivo: "Archivo Black", system-ui, sans-serif; /* creates class `font-roboto` */
}

body {
  background-color: #099cc2;
}

.title {
  -webkit-text-stroke: 2px darkblue;
  text-stroke: 2px darkblue;
}

.price-stroke {
  -webkit-text-stroke: 2px #0A0A5F; /* Stroke width and color */
  text-stroke: 2px black; /* Fallback for future compatibility */
}
