@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import "tailwindcss";

@theme {
  --font-archivo: "Archivo Black", system-ui, sans-serif; /* creates class `font-roboto` */
}

body {
  /* background-color: #099cc2; */
  background-image: url("/src/assets/background.jpg");
}

.title {
  -webkit-text-stroke: 2px darkblue;
  text-stroke: 2px darkblue;
}

.price-stroke {
  -webkit-text-stroke: 2px #0a0a5f; /* Stroke width and color */
  text-stroke: 2px black; /* Fallback for future compatibility */
}

.texture {
  background-image: 
    url("/src/assets/beige-paper.png");
  background-blend-mode: multiply; /* or overlay, soft-light, etc. */
  /* background-size: cover; */
  background-position: center;
}
