@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
@import "tailwindcss";

@theme {
  --font-archivo: "Archivo Black", system-ui, sans-serif; /* creates class `font-roboto` */
}

body {
  background-color: lightblue;
}

.title {
  -webkit-text-stroke: 2px darkblue;
  text-stroke: 2px darkblue;
}
